.cart{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
    align-items: center;
    
}
#a{
    padding-top: 15px;
}

.order-1{
  background: yellow;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: none;
  
}