
<div class="blog-container">
<!--  
  <div class="blog-box" *ngFor="let index of listCart">
    <div class="blog-img">
      <img [src]="index.Image" alt="Blog">
    </div>
    <div class="blog-text">
    
      <a href="#" class="blog-title">{{index.Name}}</a>
      <span>{{index.Price}}</span>
      <p>
        {{index.Discription}}
      </p>
      <div>Số lượng còn lại: {{index.Status}}</div>
    </div>
  </div>
</div> -->
<!-- <p>{{</p>
<div class="cart" *ngFor="let index of listCart>
  <button mat-button (click)="decrease()" class="cart-sub">-</button>
  <p id="a">{{count}}</p>
  <button mat-button (click)="increase()" class="cart-add">+</button>
  <a href="#" class="order-1">Thành Tiền</a>
</div> -->


    <h1 class="text-center">Giỏ hàng</h1>
    <div class="row">
        <table class="table">
          <thead>
            <tr>
              <th class="table1">STT</th>
              <th class="table2">Ảnh sản phẩm</th>
              <th class="table3">Tên sản phẩm</th>
              <th class="table4">Số lượng</th>
              <th class="table5">Đơn giá</th>
              <th class="table6">Thành tiền</th>
              <th class="table7">Hành động</th>
              <th class="table8">Tổng tiền</th>
            </tr>
          </thead>

          <tbody id="datarow" *ngFor="let index of listCart">
            <tr>
              <td class="text-right">{{index.id}}</td>
              <td class="text-right">
                <img [src]="index.Image" alt="Blog">
              </td>
              <td class="text-right">{{index.Name}}</td>
              <td class="text-right">1</td>
              <td class="text-right">{{index.Price}}</td>
              <td class="text-right">{{index.Price}}</td>
              <td>
                
                <a id="delete">
                  <i class="delete1" aria-hidden="true"></i> Xóa
                </a>
              </td>
              <p class="total">{{productCart.total}}</p>
            </tr>
          </tbody>
        </table>
        <button (click)="this.productCart.totalCart()" class="material-icons">shopping_cart</button>
      </div>

    
    
